div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 25px;
}

#home-title.inner-title {
    font-weight: bold;
}

#home-title {
    font-size: 48px;
    color: #ff0000;
}

.inner-title {
    font-size: 38px;
    color: #0000ff;
}

.home-list {
    font-size: 38px;
    line-height: 150%;
}

.recipe-description {
    color: #636f65;
}

.recipe-ingredients, .recipe-steps {
    color: #1bb432;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    width: 500px;
    padding: 0px;
}

nav li {
    flex: 1 1 auto;
    text-align: left;
    list-style-type: none;
}